    <!-- Barra navegadora de Nuva - Exclusivo mobile -->
    <!-- <nav class="tab-bar"> -->
        <ul class="tab-bar__list">
            
            <li class="tab-bar__item">
                <a class="tab-bar__link" href="index.html">
                    <div class="tab-bar__icon-container">
                        <i class="tab-bar__icon fa-solid fa-house"></i>
                    </div>
                    <span class="tab-bar__text">Home</span>
                </a>
            </li>
            <li class="tab-bar__item">
                <a class="tab-bar__link" href="#">
                    <div class="tab-bar__icon-container">
                        <i class="tab-bar__icon fa-solid fa-trophy"></i>
                    </div>
                    <span class="tab-bar__text">Competiciones</span>
                </a>
            </li>
            <li class="tab-bar__item">
                <a class="tab-bar__link" href="public/views/account.html">
                    <div class="tab-bar__icon-container">
                        <i class="tab-bar__icon fa-solid fa-user"></i>
                    </div>
                    <span class="tab-bar__text">Cuenta</span>
                </a>
            </li>
    <!-- </nav> -->