@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    /* color background = fondo */
    --bg: #0d0e11;
    /* Coolor background secundario (usado para el navbar y el header */
    --bg-secondary: #111216;
    /* color primario del sistema */
    --primary: #FA4616;
    /* color usado para los bordes */
    --border: #232730;
    /* color fondo de botones */
    --btn-bg: var(--primary);
    /* color texto de los botones */
    --btn-text: #ffffff;
    /* control background = para inputs, selects, textareas, checkboxes */
    --control-bg: #16181d;
    /* color usado para iconos de botones ej: engranaje de config */
    --icon-color: #e6e6e6;
    /* Color usado para el texto */
    --text: #ffffff;
    --text-alternative: #9ba3af;

    /* Color background para los tags */
    --color-tag-bg: rgba(255, 87, 34, 0.15);
    /* Color verde utilizado para cosas + */
    --green: #10b981;

    /* Variables para fondo gradiente */
    
    /* capas de superficie para crear profundidad visual (más clara) */
    --surface-1: rgba(32, 36, 43, 1);

    /* capas de superficie para crear profundidad visual (más oscura) */
    --surface-2: rgba(14, 16, 20, 1);

    /* color acento con transparencia (naranja oscuro al 24.6%) */
    --accent: rgba(224, 68, 24, 0.4);

    /* color acento completamente transparente para gradientes */
    --accent-transparent: rgba(224, 68, 24, 0);

    --tabbar-height: 7rem;
}

/* Configuracion inical global de css GLOBAL */

html{
    font-size: 10px;
    background: var(--bg);
}

body{
    background: var(--bg);
    font-family: "Inter", sans-serif;
    color: var(--text);
    height: 100dvh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: var(--tabbar-height);
}

.anchor-not-style{
    text-decoration: none;
}

.main{
    flex: 1;
    min-height: 0;
    min-width: 0;
    margin: 2rem 2.5rem 0;
    padding-bottom: 2rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.nuva-anchor {
    color: var(--primary);
    font-size: 1rem;
    font-weight: 600;
}

.nuva-separator {
    width: 100%;
    height: 1px;
    margin: 2rem 0;
    background: var(--border);
}

.section-title{
    font-size: 1.7rem;
    font-weight:800;
    color: var(--text);

}
