@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    /* color background = fondo */
    --bg: #0d0e11;
    /* Coolor background secundario (usado para el navbar y el header */
    --bg-secondary: #111216;
    /* color primario del sistema */
    --primary: #FA4616;
    /* color usado para los bordes */
    --border: #232730;
    /* color fondo de botones */
    --btn-bg: var(--primary);
    /* color texto de los botones */
    --btn-text: #ffffff;
    /* control background = para inputs, selects, textareas, checkboxes */
    --control-bg: #16181d;
    /* color usado para iconos de botones ej: engranaje de config */
    --icon-color: #e6e6e6;
    /* Color usado para el texto */
    --text: #ffffff;
    --text-alternative: #9ba3af;

    /* Color background para los tags */
    --color-tag-bg: rgba(255, 87, 34, 0.15);
    /* Color verde utilizado para cosas + */
    --green: #10b981;

    /* Variables para fondo gradiente */
    
    /* capas de superficie para crear profundidad visual (más clara) */
    --surface-1: rgba(32, 36, 43, 1);

    /* capas de superficie para crear profundidad visual (más oscura) */
    --surface-2: rgba(14, 16, 20, 1);

    /* color acento con transparencia (naranja oscuro al 24.6%) */
    --accent: rgba(224, 68, 24, 0.4);

    /* color acento completamente transparente para gradientes */
    --accent-transparent: rgba(224, 68, 24, 0);
}

/* Configuracion inical global de css GLOBAL */

html{
    font-size: 10px;
    background: var(--bg);
}

body{
    background: var(--bg);
    font-family: "Inter", sans-serif;
    color: var(--text);
}

p{
    font-size: 1.2rem;
}

* {
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: inherit;
    background-color: transparent;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

button,
input,
textarea,
select{
    color: inherit;
    font: inherit;
}

a:active,
a:focus {
  background-color: transparent;
  outline: none;
}

.section-title{
    font-size: 1.5rem;
    font-weight: 600;
}

.main{
    margin: 2rem 2.5rem;
}