<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/lucide@latest"></script>
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <script src="../../js/bootstrap.bundle.min.js" defer></script>
    <link rel="stylesheet" href="../../css/global.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/tabbar.css">
    <link rel="stylesheet" href="../../css/public/home-public.css">
    <script src="../../js/layout.js" defer></script>
    <title>Nuva - Cuenta</title>
</head>
<body>
    <!-- Header inyectado mediante fetch -->
    <header class="header" id="header"></header>
    <main class="main">
        <!-- HERO SECTION-->
        <section class="landing-hero">
            <div class="landing-hero__content">
                <span class="landing-hero__tag">Bienvenido a Nuva</span>
                <p class="landing-hero__text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat cum voluptatum laudantium exercitationem aliquam, fugit at doloremque. Blanditiis, consectetur quam, consequatur veniam sequi eos suscipit sit praesentium quasi beatae repudiandae.
                </p>
                <div class="landing-hero__actions">
                    <div class="landing-hero__actions--container">
                        <span class="landing-hero__actions--title">¿Quieres consultar resultados de un torneo?</span>
                        <a href="#" class="landing-hero__actions--btn nuva-btn">Consultar resultados</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Features -->
        <section class="landing-section--features">
            <h2 class="landing-section__title">Lleva el juego al siguiente nivel</h2>
            <div class="landing-section__grid">
                <!-- Bloque independiente: feature-card -->
                <article class="feature-card">
                    <div class="feature-card__icon">
                        <i data-lucide="trophy"></i>
                    </div>
                    <h3 class="feature-card__title">Competiciones</h3>
                    <p class="feature-card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id arcu sed eros tempor feugiat.</p>
                </article>

                <article class="feature-card">
                    <div class="feature-card__icon">
                        <i data-lucide="map-pin"></i>
                    </div>
                    <h3 class="feature-card__title">Entornos</h3>
                    <p class="feature-card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id arcu sed eros tempor feugiat.</p>
                </article>

                <article class="feature-card">
                    <div class="feature-card__icon">
                        <i data-lucide="trophy"></i>
                    </div>
                    <h3 class="feature-card__title">Flexibilidad</h3>
                    <p class="feature-card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id arcu sed eros tempor feugiat.</p>
                </article>
            </div>
        </section>
    
        <!-- Módulos -->
        <section class="landing-section--modules">
            <h2 class="landing-section__title">Tres módulos, un solo ecosistema</h2>
        
            <div class="landing-section__container">
                <!-- Bloque independiente: module-card -->
                <article class="module-card">
                    <div class="module-card__body">
                        <h3 class="module-card__title">Deportes tradicionales</h3>
                        <p class="module-card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio id sint in explicabo obcaecati dolor...</p>
                    </div>
                
                    <ul class="module-card__list">
                        <li class="module-card__item">Basquetbol</li>
                        <li class="module-card__item">Futbol</li>
                    </ul>
                </article>
                <article class="module-card">
                    <div class="module-card__body">
                        <h3 class="module-card__title">Deportes mentales</h3>
                        <p class="module-card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio id sint in explicabo obcaecati dolor...</p>
                    </div>
                
                    <ul class="module-card__list">
                        <li class="module-card__item">Ajedrez</li>
                        <li class="module-card__item">Tic Tac</li>
                    </ul>
                </article>
                <article class="module-card">
                    <div class="module-card__body">
                        <h3 class="module-card__title">Deportes Electronicos</h3>
                        <p class="module-card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio id sint in explicabo obcaecati dolor...</p>
                    </div>
                
                    <ul class="module-card__list">
                        <li class="module-card__item">Counter Strike</li>
                        <li class="module-card__item">Valorant</li>
                    </ul>
                </article>
                
            </div>
        </section>
        <footer>

        </footer>
</body>
</html>