.profile__name{
    font-size: 2rem;
    font-weight: 800;
    color: var(--text);
}
.profile__email{
    font-size: 1.3rem;
    color: var(--text-alternative);
}
.profile__avatar{
    width: 16rem;
    height: 16rem;
}
.profile__avatar, .profile__avatar--container{
    border-radius: 50%;
}
.profile__avatar--container{
    border: 3px solid var(--primary);
}

