.profile__name{
    font-size: 2rem;
    font-weight: 800;
    color: var(--text);
}
.profile__email{
    font-size: 1.3rem;
    color: var(--text-alternative);
}
.profile__avatar{
    width: 16rem;
    height: 16rem;
}
.profile__avatar, .profile__avatar--container{
    border-radius: 50%;
}
.profile__avatar--container{
    border: 3px solid var(--primary);
}

.profile__id{
    gap: .5rem;
    padding: .5rem .8rem;
    font-size: 1.1rem;
}

.profile__id svg{
    width: 1.4rem;
    height: 1.4rem;
}

